.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
  }

.grid-cell {
    background: #ffffff;
    padding: 8px 0;
    border: 1px solid #000000;
    min-height: 24px;
    max-height: 48px;

}
.grid-box{
    border: 1px solid #000000;
}
.grid-header{
    font-weight: bold;
}

.actions{
    display: inline-block;
    margin-left: 10%;
}
